.footer {
  background-color: #002529;
  padding: 48px 0;
}

.footer__container {
  display: flex;
}

.footer__facebook:hover {
  fill: #F67E7E;
}
.footer__picture:hover {
  fill: #F67E7E;
}

.footer__twitter:hover {
  fill: #F67E7E;
}

@include breakpoint-down (768) {

  .footer__container {
    flex-wrap: wrap;
    width: 100%;
  }

  .footer__footer-top {
    width: 100%;
  }
}

@include breakpoint-down (490) {

  .footer__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
