.nav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  margin-right: 40px;
}

.nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  white-space: nowrap;

  &:hover {
    color: #F67E7E;
  }
}

.nav__contact-link {
  margin-left: auto;
  padding: 8px 30px;
  border: 2px solid #fff;
  border-radius: 24px;

  &:hover {
    color: #002529;
    background-color: #fff;
  }

  &:active {
    opacity: 0.6;
  }
}

@media only screen and(max-width: 560px) {

  .nav__list {
    display: none;
  }

  .nav__contact-link {
    display: none;
  }

  .site-header--open .nav__list {
    display: block;
    z-index: 60;
    flex-direction: column;
  }
}

@media only screen and(max-width: 480px) {

}

@media only screen and(max-width: 375px) {

}