.start {
  padding: 76px 0;
  background-color: #F67E7E;
  background-image: url("../img/start-bg.png");
  background-repeat: no-repeat;
  background-position: left bottom;
}

.start__container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.start__title {
  font-size: 48px;
  line-height: 48px;
  color: #012F34;
  font-weight: bold;
  margin: 0;
}
.start__link {
  text-decoration: none;
  color: #012F34;
  border: 2px solid #012F34;
  border-radius: 24px;
  padding: 9px 32px;
  white-space: nowrap;
}

@include breakpoint-down (768) {

  .start {
    padding: 84px 0;
  }

  .start__container {
    padding: 0 20px;
  }
  .start__title {
    font-size: 32px;
    line-height: 32px;
  }
}

@include breakpoint-down (600) {

  .start__title{
    text-align: center;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .start__container {
    flex-direction: column;
    justify-content: center;
  }
}