.directors {
  background-color: #004047;
  padding: 140px 0;
  color: #fff;
  background-image: url("../img/directors-left-bg.png"),
                      url("../img/rewiw-left.png");
  background-repeat: no-repeat;
  background-position: left calc(50% - 800px) top, right calc(50% - 730px) bottom;
}

.directors__title {
  text-align: center;
  font-size: 48px;
  line-height: 48px;
  margin: 0;
  margin-bottom: 64px;
}

.directors__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.directors__item {
  margin-right: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

@include breakpoint-down (1149) {

  .directors {
    background-image: url("../img/director-bgg.png"),
                        url("../img/rewiw-left.png");
    background-repeat: no-repeat;
    background-position: left top, right bottom;
    background-size: 250px auto;
  }

  .directors__item {

    &:nth-child(3n) {
      margin-right: 30px;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@include breakpoint-down (768) {

  .directors {
    background-image: url("../img/director-bgg.png"),
                        url("../img/rewiw-left.png");
    background-repeat: no-repeat;
    background-position: left top, right bottom;
  }

  .directors__item {
      margin-right: 11px;

      &:nth-child(3n) {
        margin-right: 11px;
      }
      &:nth-child(2n) {
        margin-right: 11px;
      }
  }
}

@include breakpoint-down (700) {

  .directors {
    background-image: url("../img/director-bgg.png"),
                        url("../img/rewiw-left.png");
    background-repeat: no-repeat;
    background-position: left top -4.5%, right bottom;
    background-size: 200px auto;
  }

  .directors__item {
      margin-right: 0;

      &:nth-child(3n) {
        margin-right: 0;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
  }
}

@include breakpoint-down (700) {

  .directors {
    background-size: 150px auto;
  }
}

@include retina-bg {

  .directors {
    background-image: url("../img/directors-left-bg@2x.png"),
                        url("../img/rewiw-left@2x.png");
  }
}